<div class="authHeader">  
    <div class="authHeader__logo">
        <img src="/images/Logo-CIM.png" alt="Logo">
    </div>
    <h1>Portail des demandes d'analyses de la Cité de l'Innovation de Marrakech</h1>
</div>  