<div class="bannerHome">
  <div class="bannerHome__logo">
    <img src="images/Logo-CIM.png" alt="Logo">
  </div>
  <div class="bannerContent">
    <h1>Cité de l'Innovation de Marrakech</h1>
    <div>
      <button type="button" class="bannerButton"><span></span>Qui sommes-nous?</button>
    </div>
  </div>
</div>