<section class="contentHome">
    <section class="contentbox">
        <video controls autoplay muted loop  src="/video/Capsule-CIM.mp4"></video>
        <p>La Cité de l’Innovation de Marrakech est une plateforme
    technologique de l’université Cadi Ayyad entièrement
    dédiée au développement et à la valorisation de la
    recherche scientifique, et ce avec la finalité de favoriser le
    développement d’une culture d’innovation et
    d’entreprenariat.
    La principale mission de la Cité de l’Innovation est la création de synergies entre les différents acteurs
    de l’écosystème régional, notamment les centres de R&D, les entreprises, les structures de
    valorisation, les incubateurs, et les pépinières d’entreprises innovantes.
    La Cité de l’Innovation de Marrakech (CIM) vise jouer un rôle précurseur dans le développement de la
    région via la promotion des capacités de recherche et de développement au niveau de l’Université et
    la mise en relation avec les industriels et les entreprises.</p>
    </section>
</section>