<div class="TOC-body" id="form-body">
  <div class="form-wrapper">
  <h2>Demande par Analyseur TOC</h2>
  <form id="demande-form" method="POST" action="/plat/formulaire/submit-TOC"onsubmit="return validateForm()">
    

  <div class="form-row">
    <div class="sample-form">
      <h4>CONDITIONS D'ANALYSE ET IDENTIFICATION DES ÉCHANTILLONS</h4>
      <div class="form-field radio-group">
        <span>Nom d'analyse :</span>
        <label><input type="radio" name="nom" value="TC"> TC solide</label>
        <label><input type="radio" name="nom" value="IC"> IC solide</label>
        <label><input type="radio" name="nom" value="TOC"> TOC liquide</label>
      </div>
      <div class="form-field radio-group">
        <span>Type d'analyse :</span>
        <label><input type="radio" name="type" value="Qualitative"> Qualitative</label>
        <label><input type="radio" name="type" value="Quantitative"> Quantitative</label>
      </div>
      <div class="form-field">
        <label for="nbr_ech">Nombre d'échantillons : (Max 10 ech)</label>
        <input type="number" id="nbr_ech" name="nbr_ech" required min="1" max="10">
      </div>
      <div class="form-field">
        <label for="nbr_rep">Nombre de répétitions si nécessaires :</label>
        <input type="number" id="nbr_rep" name="nbr_rep">
      </div>
      <span>Nature des échantillons :</span>
      <div class="form-field check-group">
        <div class="checkbox-container">
          <label><input type="radio" name="nature" value="Sols et Sédiments" required> Sols et sédiments</label>
          <label><input type="radio" name="nature" value="Roches" required> Roches</label>
          <label><input type="radio" name="nature" value="Plantes" required> Plantes</label>
          <label><input type="radio" name="nature" value="Boisson" required> Boisson</label>
          <label><input type="radio" name="nature" value="Rejets" required> Rejets</label>
          <label><input type="radio" name="nature" value="Mer et milieu marin" required> Mer et milieu marin</label>
          <label><input type="radio" name="nature" value="autre" required> Autre à préciser</label>
          <input type="text" name="details_nature" id="details_nature_toc" style="display:none;" placeholder="Précisez">
        </div>
      </div>
      <div class="form-field">
        <label for="conditionnement">Conditionnement : (centrigugé, filtré, acidifié, etc)</label>
        <input type="text" id="conditionnement" name="conditionnement">
      </div>
      <div class="form-field">
        <label for="conductivité">Conductivité : (us/cm)</label>
        <input type="number" id="conductivité" name="conductivité">
      </div>
      <div class="form-field radio-group">
        <span>Toxicité :</span>
        <label><input type="radio" name="Toxicité" value="Toxiques"> Toxiques</label>
        <label><input type="radio" name="Toxicité" value="Non Toxiques"> Non toxiques</label>
        <label><input type="radio" name="Toxicité" value="Radioactifs"> Radioactifs</label>
      </div>

      <div class="form-section">
        <label>Veuillez indiquer les références de vos échantillons</label>
        <div class="tables-container">
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>N° échantillon</th>
                        <th>Réf échantillon</th>
                    </tr>
                    <tr id="sample-row-1">
                        <td>01</td>
                        <td><input type="text" name="ref_ech_1"></td>
                    </tr>
                    <tr id="sample-row-2">
                        <td>02</td>
                        <td><input type="text" name="ref_ech_2"></td>
                    </tr>
                    <tr id="sample-row-3">
                        <td>03</td>
                        <td><input type="text" name="ref_ech_3"></td>
                    </tr>
                    <tr id="sample-row-4">
                        <td>04</td>
                        <td><input type="text" name="ref_ech_4"></td>
                    </tr>
                    <tr id="sample-row-5">
                        <td>05</td>
                        <td><input type="text" name="ref_ech_5"></td>
                    </tr>
                </table>
            </div>
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>N° échantillon</th>
                        <th>Réf échantillon</th>
                    </tr>
                    <tr id="sample-row-6">
                        <td>06</td>
                        <td><input type="text" name="ref_ech_6"></td>
                    </tr>
                    <tr id="sample-row-7">
                        <td>07</td>
                        <td><input type="text" name="ref_ech_7"></td>
                    </tr>
                    <tr id="sample-row-8">
                        <td>08</td>
                        <td><input type="text" name="ref_ech_8"></td>
                    </tr>
                    <tr id="sample-row-9">
                        <td>09</td>
                        <td><input type="text" name="ref_ech_9"></td>
                    </tr>
                    <tr id="sample-row-10">
                        <td>10</td>
                        <td><input type="text" name="ref_ech_10"></td>
                    </tr>
                </table>
            </div>
        </div>
      </div>

      <br>

      <span>Veuillez indiquer en détail, la méthode de préparation des échantillions :</span>
      <textarea id="mtd_prep" name="mtd_prep"></textarea>







      <span class="NB">NB: C'est le numéro de l'échantillion qui sera affiché au niveau du rapport d'analyse. 
      Si vous avez plus que 15 échantillions veuillez utiliser une fiche supplémentaire.</span>
      <h4>CONDITIONS D'ANALYSE ET IDENTIFICATION DES ÉCHANTILLONS</h4>
      <span>Veuillez préciser les conditions de stockage de vos échantillons, nécessaires à respecter, lors de leur séjour au CAC (T°, humidité, ...) :</span>
      <textarea id="conditions-stockage" name="conditions_stock"></textarea>
      <div class="form-field radio-group">
        <span>Voulez-vous récupérer le reste des échantillons (s'il en reste) après analyse ?</span>
        <label><input type="radio" name="recuperation_echantillon" value="oui"> Oui</label>
        <label><input type="radio" name="recuperation_echantillon" value="non"> Non</label>
      </div>
      <span class="NB">Si oui, la récupération du reste des échantillions (s'il en reste) doit se faire au maximum 15 jours
      après la réception des résultats d'analyse. Dépassant ce délai, ils seront détruits. Si aucune case n'est cochée, les
      échantillions seront détruits automatiquement.</span>

    </div>




    

  </div>

    <div class="form-footer">
      <a href="/plat/panel"><button type="button" class="btn-cancel">Annuler</button></a>
      <button type="submit" value="Submit" class="btn-submit">Ajouter</button>
    </div>

  </form>
  </div>

</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
  const radioButtons = document.querySelectorAll('input[name="nature"]');
  const detailsInput = document.getElementById('details_nature_toc');

  radioButtons.forEach(radio => {
    radio.addEventListener('change', function() {
      if (this.value === 'autre') {
        detailsInput.style.display = 'block';
      } else {
        detailsInput.style.display = 'none';
      }
    });
  });
});

</script>