<nav class="navbar__fixed">
  <div class="navbar__logo">
    <img src="images/Logo-CIM.png" alt="Logo">
  </div>
  <div class="navbar__menu">
    <a  href="#">Accueil</a>
    <a href="/poles">Poles</a>
    <a href="/services">Services</a>
    <a href="/video">Video</a>
    <a id="active" href="/contact">Contact</a>
  </div>
</nav>

<nav class="navbar-contact">
  <ul class="navbar__menu">
    <li><a  href="/">Accueil</a></li>
    <li><a href="/poles">Poles</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/video">Video</a></li>
    <li><a id="active" href="/contact">Contact</a></li>
  </ul>
</nav>
