<nav class="sidebar">
  <div class="navbar__logo">
    <img src="images/Logo-CIM.png" alt="Logo">
  </div>
  <div class="navbar__menu">
    <a id="active" href="#">Accueil</a>
    <a href="#" class="dropdown-toggle">Poles</a>
    <ul class="dropdown-menu">
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
    </ul>
    <a href="#">Video</a>
    <a href="#"></a>
  </div>
  <div class="navbar__contact">
    <img src="images/Mail.png" alt="Mail">
  </div>
</nav>
